html {
  font-family: monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.dark {
  background-color: rgb(36, 36, 36);
}

.container {
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: dashed;
  border-width: thin;
}

.content {
  padding-bottom: 20px;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 50px;
}

.header {
  text-align: left;
  font-size: 35px;
}

.menu_items {
  float: right;
  font-size: 20px;
  margin-top: 13px; /* header pixel size - menu item pixel size - the approx size of underline*/
  display: inline-block;
}

.menu_item {
  margin-left: 8px;
  text-decoration: underline;
}


@media (prefers-color-scheme: dark) {
  html {
    background-color: rgb(36, 36, 36);
    color: rgb(213, 191, 177);
  }

  a {
    color: rgb(136, 173, 162);
}
